@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --basecolor:#0077B5;
  --placeholder:rgba(0,0,0,0.6);
  --linkedcolor2:#2977c9;
  --btnclicked:#0073b1;
  --voyager-color-background-overlay-gradient-to-top: linear-gradient(0deg,hsla(0,0%,100%,0) 0%,rgba(0,0,0,0.6););
  --homecolor:rgb(249, 244, 244);
  --basegrey:rgba(0,0,0,0.6);
  --hovergrey:rgba(225, 224, 224, 0.6);
  --loggedbackground:#f3f2ef;
  --hoverblue:#d0e8ff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* html, body {margin: 0; height: 100%; overflow: hidden} */

a {
  color: inherit;
  text-decoration: none;
}

.titlecolor{
  color: var(--basecolor);
}

.logoimg{
  top: 15%;
  right: -1.9rem;
}
.roundeffect{
  border:1.5px solid #0077B5;
  height: min-content;
  min-height: 0.1875rem;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-weight: 600;
  color: #0077B5;
}
.roundeffect:hover{
  background-color: #e8f3fb;
}
.customround{
  font-size: 1rem;
  font-weight: 600;
}
.customround:hover{
  background-color:#f0efef;
}

.rootheading{
  color: #8f5849;
}

.line {
  position: relative;
  text-align: center;
}
.line:after {
  content: "";
  border-bottom: 1px solid #ccc !important;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
}
.line span {
  padding: 0 2rem;
  background-color: white;
  position: relative;
  color: var(--placeholder);
  z-index: 2;
}
.rootimg{
  right: -6rem;
}

.label{
  color: var(--placeholder);
}
.customwidth{
  width: 98%;
}

.showbtn{
  padding: 0.2rem 0.5rem;
  color: var(--placeholder);
}
.customrootinput{
  border: 1px solid black;
  border-radius: 3px;
}
.customrootinput:focus{
  outline: var(--linkedcolor2);
  border: 2px solid var(--linkedcolor2);
}

.signinbtn{
  background-color: var(--linkedcolor2);
  color: white;
}
.signinbtn:hover{
  background-color: var(--btnclicked);
  color: white;
}
.whitebtn{
  background-color: white;
  color: var(--placeholder);
  outline: var(--placeholder);
  border: 1px solid var(--placeholder);
}

.whitebtn:hover{
  background-color: #f0efef;
  color: inherit;
}



.signupInput{
  outline: var(--placeholder);
  border: 1px solid var(--placeholder);
  width: 100%;
  height: 1.9rem;
  border-radius: 4px;
}

.card{
  box-shadow: rgba(189, 187, 187, 0.2) 0px 1px 1px 0px;
}
.spanor{
  position: relative;
}
.spanor::after{
  content: "";
  height: 127%;
  width: 0.7px;
  position: absolute;
  top:-0.4rem;
  left: 0;
  background-color: grey;
  opacity: 0.4;
}

.dropdownsec{
  position: absolute;
  background-color: white;
  height: 22rem;
  width: 16rem;
  top: 3.5rem;
  right: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 0.6rem;
}

.dropdown{
  display: flex;
  padding: 0.3rem;
  gap: 0.5rem;
}

.dropbtn{
  width: 92%;
  display: block;
  margin: 0.3rem auto;
  outline:1px solid #2977c9 ;
  border-radius: 1.5rem;
  color: #2977c9;
box-sizing: border-box;
}
.dropbtn:hover{
  outline:2px solid #2977c9 ;
  box-sizing: border-box !important;
}

.grid-container {
  width: fit-content;
  padding: 2rem;
  margin: 0 auto; 
  display: grid;
  grid-template-columns: 15rem 34rem 19rem;
  background-color: #f3f2ef;
  gap: 1.4rem;
  margin-top: 3rem;
}
.grid-item {
  background-color: white;
  overflow:hidden;
  background-color: #f3f2ef;
}

.hrline{
  width: 100%;
  height: 0.6px;
  color: #b2b0b0;
}

.bgimg{
  border-radius: 8px 8px 0 0 ;
  position: relative;
  filter: contrast(70%);
}
.mytri{
  position: relative;
}

input[type='file']{
  opacity: 0;
  cursor: pointer;
  font-size: 0;
  position: absolute;
}
.mytri::after{
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,hsla(0,0%,100%,0) 0%,rgba(0,0,0,0.6));
  z-index: 49;
  border-radius: 8px 8px 0 0 ;
}

.college{
  margin: 0.5rem 1rem;
  text-align: center;
  color: rgba(0,0,0,0.6);
  font-size: 0.8rem;
}
.logoutbtn{
  color: rgba(0,0,0,0.6);
}
.leftdetail{
  color: rgba(0,0,0,.6);
  display: block;
}

.leftdetail:hover{
  background-color: rgb(232, 229, 229);
}

.feature:hover{
  cursor: pointer;
  background-color: rgb(232, 229, 229);
}

.lefttop,.bottomleft,.middletop,.post,.grid3{
  border: 1px solid rgb(188, 186, 186) ;
  border-radius: 8px ;
}

.bottomleft{
  margin-top: 0.5rem;
}

.bottomleft p,.postprofileright{
  font-size: 0.8rem;
  color: rgba(0,0,0,.6);
}

.postinput{
  width: 99%;
  border: 1px solid rgba(0,0,0,.6);
  border-radius: 1.5rem;
  padding-left: 1.3rem;
  cursor: pointer;
  background-color: white;
}

.postinput:hover{
  background-color: var(--homecolor);
}

.postbase p:hover{
  background-color: rgba(225, 224, 224, 0.6);
  border-radius: 8px;
}

.postbase p{
  margin: 0.2rem 0;
  padding: 0.7rem 1.3rem;
  color: var(--basegrey);
  gap: 0.6rem;
}

.postsdiv{
  overflow-y: scroll;
  height: 58rem;
}

.postsdiv::-webkit-scrollbar {
 display: none;
}

.allbasicconnect::-webkit-scrollbar{
  visibility: hidden;
}

.additionalOptions div{
  padding: 0.7rem 0.7rem;
  color: var(--basegrey);
}

.additionalOptions div:hover{
  background-color: var(--hovergrey);
}

.grid3 div{
  cursor: pointer;
  padding:0.3rem 0.75rem;
}

.grid3 div:hover{
  background-color: rgba(197, 197, 197, 0.6);
}

.cross{
  color: var(--basegrey);;
}

.cross:hover{
  background-color: rgba(197, 197, 197, 0.6);
  border-radius: 50%;
  cursor: pointer;
}

.grid3 div small{
  color: var(--basegrey);
  margin-left: 0.9rem;
}

.grid3 div h4 {
  font-weight: 500;
  font-size: 0.88rem;
}

.grid3 div h4 span:after{
  content:"";
  border: 3px solid rgba(0,0,0,0.6);
  border-radius: 50%;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0px 0.2rem 2px 0;
}

.feed{
  background-color: var(--loggedbackground);
}

.rightbottom{
  background-color: var(--loggedbackground);
  width: fit-content;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.rightbottom div span{
  font-size: 0.75rem;
  color: var(--basegrey);
}

.rightbottom div{
  justify-content: center;
}

.rightbottom div span:hover{
  color: #0073b1;
  text-decoration: underline #0073b1;
  cursor: pointer;
}

.copyright{
  align-items: center;
}

.copyright1{
  color: var(--linkedcolor2) !important;
  font-size: 0.9rem !important; 
}

.anyonebtn{
  border-radius: 1.5rem;
  color: var(--basegrey);
  outline:1.35px solid var(--basegrey) ;
}

.anyonebtn:hover{
  background-color: var(--hovergrey);
  outline:2px solid var(--basegrey) ;
}

textarea{
  width: 100%;
  padding: 0 1.5rem;
  height: 8rem;
  overflow-y: auto;
  resize: none;
  scroll-behavior: smooth;
  border: none;
    overflow: auto;
    outline: none;
    white-space: pre;
}
textarea:active{
  border: 0;
  outline: none;
}

.postbtn{
  background-color: #2977c9;
  padding: 0.3rem 1rem;
  border-radius: 1.6rem;
  color: white;
  font-weight: 600; 
  cursor: pointer;
}

.imgvideo{
  color: var(--basegrey);
}

.profilepage{
  background-color: var(--loggedbackground);
  width: 100%;

}

.connectmsg:hover{
  background-color: #d0e8ff;
}

.profileMain{
  padding-top: 4.7rem;
  margin: auto 4.5rem;
}

.mynetwork{
  padding: 4.7rem 1.5rem 0 1.5rem;
}

.profileleft{
  background-color: white !important;
}
.pensilsvg{
  border-radius: 50%;
  padding: 0.6rem;
  color: var(--basegrey);
  bottom: -3.5rem;
}

.pensilsvg:active,.pensilsvg:hover{
background-color: var(--hovergrey);
}

.roundeddot{
  position: relative;
  margin-left: 0.7rem;
  color: var(--basegrey);
  font-size: 0.9rem;
}

.roundeddot::after{
  content:"";
  border: 2px solid rgba(0,0,0,0.6);
  border-radius: 50%;
  display: inline-block;
  width: 4px;
  height: 4px;
  position: absolute;
  left: -0.5rem;
  top: 0.6rem;
}

.allbasicconnect{
  height: 32rem;
  overflow-y: scroll;
}

.mynetwork{
  background-color: var(--loggedbackground);
}

.introinputs div input{
  padding: 0.6rem 0.8rem;
  /* outline: 0.5px solid var(--basegrey); */
  height: 2rem !important;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 0 1px var(--basegrey);
}
    
.hashtag{
  color: #0a66c2;
  font-weight: 500;
}
.hashtag:hover{
  text-decoration: underline;
  cursor: pointer;
}
@media(min-width:701px) and (max-width:1136px){
  .grid-container {
    grid-template-columns: 15rem 34rem;
  }
  .griditem3{
    display: none !important;
  } 
}
@media(max-width:700px){
  .grid-container{
    display: table-row;
  }
  .profileimgdiv{
    position: relative;
    bottom: 4rem;
    width: 8rem;
    right: 1rem;
   
  }
  .postsdiv{
    width: 100vw;
  }
  #profileimg{
    position: relative;
  }

  #profileimg{
    position: absolute;
    bottom: -40% !important;
    right: 41% !important;
  }
  #Linkedimg{
    height: 1.5rem !important;
  }

  #errimg1{
    /* height: 1.5rem !important; */
  }

  .profileMain{
    padding-top: 4.7rem;
    margin: 0;
  }

  .profileimg1{
    height: 5.8rem !important;
  }

  .profileimg2{
    position: absolute;
    top: -1rem;
  }

  .allbasicconnect::-webkit-scrollbar{
    visibility:visible;
  }
}

